.nav{
    height: 50px;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 350px;
}
.div1{
    display: flex;
    align-items: center;
}
.img3{
    height: 15px;
    width: 35px;
}
.section1{
    padding-left: 8px;
}
.span1{
    color: rgb(255, 0, 157);
}
.div2 ul{
    display: flex;
    align-items: center;
    list-style: none;
}
li,a{
    color: rgb(72, 72, 72);
    text-decoration: none;
    margin-right: 15px;
}
.button1{
    padding-top: 7px;
    border: none;
    height: 30px;
    border-radius: 5px;
    display: flex;
}
.img1,.img2{
    height: 15px;
    padding-right: 7px;
}
.div3{
    justify-content: center;
}
/* .cl1{
} */
.cl1 h4{
    height: 1px;
}
.cl3{
    padding-right: 100px;
    width: 100px;
    height: 70px;
    color: rgb(157, 0, 255);
    font-size: 40px;
    justify-content: space-between;
}
.icon1,.icon2,.icon3{
    height: 25px;
    display: flex;
    align-items: center;
}
.manicon1{
    height: 15px;
    width: 15px;
    padding-right: 5px;
}
.button2{
    margin-top: 20px;
    display: flex;
    border-radius: 10px;
}
.divmain{
    display: flex;
    justify-content:center;
    background-image: url('Group 14 copy 2.png');
    background-repeat: no-repeat;
    gap: 250px;
}
.button3,.button4{
    height: 40px;
    width: 120px;
    border-radius: 20px;
    border: none;
    color: rgb(255, 255, 255);
}
.button3{
    background-color: rgb(200, 0, 255);
    margin-right: 20px;
}
.button4{
    background-color: rgb(0, 151, 193);
}
.div4 img{
    height: 360px;
}
.divmain2{
    background-color: rgb(255, 246, 246);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.div5 img{
    height: 300px;
}
.prg1{
    height:50px ;
    width: 400px;
}
.prg2{
    margin-left: 270px;
}
.prg3{
    margin-left: 140px;
}
.cl2{
    text-align: center;
    height: 15px;
    color: rgb(157, 0, 255);
}
.button5{
    margin-left: 270px;
    margin-top: 25px;
    color: white;
    background-color: rgb(157, 0, 255);
    height: 30px;
    width: 120px;
    border-radius: 20px;
    border: none;
}
.outdiv{
    text-align: center;
}
.outdiv h3{
    height: 30px;
    font-size: 40px;
}
.cl4{
    color: rgb(221, 0, 255);
}
.divmain3{
    display: flex;
    justify-content:center;
    align-items: center;
}
.divmain3 img:hover{
    -webkit-filter: blur(2px);
    image-rendering: auto;
    border-radius: 20px;
    border:  7px solid rgb(255, 217, 140);
}
.divmain3 p{
    width: 220px;
}
.divmain4{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img2tipe{
    display: flex;
    justify-content: center;
    margin:50px 100px 80px 0;
}
.small2{
    height: 195px;
    position: absolute;
    margin:250px 0 0 400px;
}
.img3tipe p{
    width: 250px;
}
.img3tipe section{
    position:relative;
    height:20px;
}
.img3tipe{
    margin-left:100px ;
}